<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/pymeleaf/layout"
      layout:decorate="~{base}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div layout:fragment="content" id="content">
    <head>
        <title>View Issues</title>
    </head>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <br>
                    <p> Summary</p>
                </div>
                <div class="col-md-8">
                    <br>
                    <p th:text="${issue.summary}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p> Description</p>
                </div>
                <div class="col-md-8">
                    <p th:text="${issue.description}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p> Severity</p>
                </div>
                <div class="col-md-8">
                    <p th:text="${issue.severity}"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p> Machine</p>
                </div>
                <div class="col-md-8">
                    <p th:text="${issue.machine.name}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p> Status</p>
                </div>
                <div class="col-md-8" th:if="${issue.status != 'done' && issue.status != 'canceled'}">
                    <form class="form-group" action="#" th:action="@{/changeStatus/__${issue.idissue}__}"
                          th:object="${mockIssue}" method="post">
                        <div class="row">
                            <div class="input-group col-md-8">
                                <select class="form-control col-md-6" th:field="*{status}">
                                    <option th:each="status : ${statuses}"
                                            th:value="${status}" th:text="${status}"></option>
                                </select>
                            </div>
                            <div class="input-group col-md-4">
                                <button type="submit" class="btn btn-outline-primary fadeIn fourth" value="Submit"
                                        >Change Status
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6" th:if="${issue.status == 'done' || issue.status != 'canceled'}">
                    <p th:text="${issue.status}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p> Creation time</p>
                </div>
                <div class="col-md-8">
                    <p th:text="${issue.createdAt}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p> Posted by</p>
                </div>
                <div class="col-md-8">
                    <p th:text="${issue.submitter}"/>
                </div>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</html>
