<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div layout:fragment="content" id="content">
    <head>
        <title>View Machines</title>
    </head>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="table-hover col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Section</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${machines.empty}">
                    <td colspan="2"> No Machines to display</td>
                </tr>
                <tr th:each="machine : ${machines}">
                    <td><span th:text="${machine.name}"/></td>
                    <td><span th:text="${machine.section}"/></td>
                    <td><a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{deleteMachine/__${machine.idmachine}__}" class="btn btn-danger">X</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
</html>
